form{
    width: 500px;
    
}

#header{
    color: darkblue;
    font-style: italic;
    font-size: xx-large;
    
}
label{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}