<div class="container ">


<form [formGroup]="registrationForm" class="border p-3 " >
    <div class="row g-0">
        <div class="col text-center p-2 m-2 bg-light">
                <span id="heading" class="fs-3">Register Yourself</span>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <label for="fname" class="form-label">Firstname:</label>
             <input type="text" class="form-control" id="fname"  formControlName="fname">
             <span class="text-danger" style="font-size: small;" *ngIf="onsubmitted && registrationForm.controls['fname'].hasError('required') ">*FirstName Required</span>
             <span class="text-danger" style="font-size: small;" *ngIf="  (registrationForm.controls['fname'].dirty  && registrationForm.controls['fname'].invalid)">*minlength required 8</span>
            
 
        </div>
    
        <div class="col">
            <label for="lname" class="form-label">Lastname:</label>
            <input type="text" class="form-control" id="lname" formControlName="lname">
            <span class="text-danger" style="font-size: small;" *ngIf="onsubmitted && registrationForm.controls['lname'].hasError('required') ">*LastName Required</span>
             <span class="text-danger" style="font-size: small;" *ngIf=" registrationForm.controls['lname'].dirty  && registrationForm.controls['lname'].invalid">*minlength required 8</span>
            
        </div>
    </div>
    <div class="row">
        <div class="col m-1">
            <label for="email" class="form-label">Email ID:</label>
            <input type="text" class="form-control" id="email" formControlName="email">
            <span class="text-danger" style="font-size: small;" *ngIf="onsubmitted && registrationForm.controls['email'].hasError('required') ">*Email Required</span>
             <span class="text-danger" style="font-size: small;" *ngIf="registrationForm.controls['email'].dirty  && registrationForm.controls['email'].invalid">*Valid Email required</span>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label  for="phoneNo" class="form-label">Phone No:</label>
            <input type="text" class="form-control" id="phoneNo" formControlName="phoneNo">
            <span class="text-danger" style="font-size: small;" *ngIf="onsubmitted && registrationForm.controls['phoneNo'].hasError('required') ">*Phone Number Required</span>
             <span class="text-danger" style="font-size: small;" *ngIf="  (registrationForm.controls['phoneNo'].dirty  && registrationForm.controls['phoneNo'].invalid)">*Digits required 10</span>
            
        </div>
        <div class="col">
            <label  for="city" class="form-label">City:</label>
            <input type="text" class="form-control" id="city" formControlName="city">
            <span class="text-danger" style="font-size: small;" *ngIf="onsubmitted && registrationForm.controls['city'].hasError('required') ">*City Required</span>
             <span class="text-danger" style="font-size: small;" *ngIf="  (registrationForm.controls['city'].dirty  && registrationForm.controls['city'].invalid)">*Max City length 8</span>
            
            
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <label  for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" maxlength="10" id="password" formControlName="password">
            <span class="text-danger" style="font-size: small;" *ngIf="onsubmitted && registrationForm.controls['password'].hasError('required') ">*Password Required</span>
            <span class="text-danger" style="font-size: small;" *ngIf="  (registrationForm.controls['password'].dirty  && registrationForm.controls['password'].invalid)">*length required 10</span>
           
        </div>
        <div class="col">
            <label  for="confirm" class="form-label">Confirm Password:</label>
            <input type="text" class="form-control" id="confirm" formControlName="confirm">
            <span class="text-danger" style="font-size: small;" *ngIf="onsubmitted && registrationForm.controls['confirm'].hasError('required') ">*confirm Password</span>
             <span class="text-danger" style="font-size: small;" *ngIf="  (registrationForm.controls['confirm'].dirty  && registrationForm.controls['confirm'].invalid)">*minlength required 8</span>
            
        </div>
    </div>
    <div class="row p-2">
        <div class="col  text-center">
            <div class="d-grid">
                <button type="submit" class="btn btn-success" (click)="onSubmit()"  >Submit</button>
            </div>
            
        </div>

        
    </div>

    <div class="row text-center ">
       <div class="col text-center">
        <a style="color: rgb(2, 51, 2); margin-top: 10px;" routerLink="/loginPage">Log In</a>
       </div>
     </div>
    
</form>

</div>