ul {
    list-style-type: none;
    margin: 20px;
    padding: 5px;
    overflow: hidden;
    background-color: #635d5d;
}
 
li {  float: left; }
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
 
li a:hover { background-color: #783737; }