<p><b>Report!</b>!</p>

<div>
    <div class="row mb-6">
        <div class="col bg-light m-3">
             <div><h3>Number  of  classes</h3></div>
             <p>{{count}}</p>
        </div>
        <div class="col bg-light m-3">
             <div><h3>Number of students</h3></div>
             <p>{{count}}</p>

        </div>
    </div>
    <div class="row mb-6">
        <div class="col mb-6">
            <button routerLink="class" >Add class +</button>
        </div>
        <div class="col mb-6">
           <button routerLink="student">Add Student +</button>
        </div>
    </div>
</div>
